<fieldset id='show_recurring_order' class='clearfix'>
  <h1>And that's it!</h1>

  <h3>
    We'll be giving you a call shortly to help you setup your regular order, how exciting!
  </h3>

  <h3>
    Here are some suggestions of what you can do with all your new found spare time: 
  </h3>

  <div class='row share-items'>
    <div class='share columns six alpha tab-with-icon'>
      <a href='http://ctt.ec/cH38S'>
        <i class="fa fa-twitter fa-5x"></i>
        <div><h4>Tell all your friends about us on Twitter</h4></div>
      </a>
    </div>
    <a href='http://www.youtube.com/results?search_query=funny%20cats'>
      <div class='share columns four'>
        <i class="fa fa-youtube fa-5x"></i>
        <div><h4>Look up funny cat videos on YouTube</h4></div>
      </div>
    </a>
    <a href='https://www.facebook.com/YourGrocerAu'>
      <div class='share columns six omega'>
        <i class="fa fa-facebook fa-5x"></i>
        <div><h4>Like us on Facebook</h4></div>
      </div>
    </a>
    <br class='clear'/>
  </div>


</fieldset>
