<div id='show_recurring_order'>
  <h1 class='title'>And that's all!</h1>

  <h2 class='text'>
    <%= "Grocery shopping just became much easier for you, #{@recurring_order.original_order.ship_address.firstname}." %>
  </h2>


  <h2 class='text'>
    We are getting in touch to setup your recurring order, 
    so feel free to relax and think about all that time that you are going to have in your hands.
  </h2>

</div>
