.row
  .columns.sixteen
    %h1
      You can now repeat your orders!
    %p
      Make local shopping a regular thing.
      = "Choose which items you'd like us to deliver every week. You have #{@order.ship_address.firstname}"

= render partial: "spree/shared/recurring_order_form", locals: {show_selected_field: true}
