.row
  .columns.sixteen.centered
    %h3
      Let's make local shopping a regular thing!
    %h5.no-spacing
      Choose which items you'd like us to deliver every week.
    %h5.no-spacing
      (you can still add/remove items later)
= render partial: "spree/shared/recurring_order_form", locals: {show_selected_field: true}
