fieldset#recurring_orders {
  padding: 50px 30px;
  text-align: center;
}

fieldset h1 {
  margin: 20px 0;
}

fieldset h3 {
  margin: 15px 0;
}

fieldset#recurring_orders input[type='submit'] {
  margin: 20px;
  padding: 10px 30px;
  font-size: 24px;
  text-align: center;
}
