fieldset#show_recurring_order {
  padding: 50px 15px;
  text-align: center;
}

fieldset#show_recurring_order h1 {
  margin: 50px 0;
}

fieldset#show_recurring_order h3 {
  margin: 30px 20px;
}

fieldset#show_recurring_order .share-items {
  margin-top: 50px;
  text-align: center;
}

fieldset#show_recurring_order .share-items a:hover {
  text-decoration: none;
}

fieldset#show_recurring_order .share {
  margin: 0 auto;
  text-align: center;
}

fieldset#show_recurring_order .share h4 {
  padding: 0 15px;
}


@media screen and (max-width: 500px) {

  fieldset#show_recurring_order {
    padding: 30px 0;
  }

  fieldset#show_recurring_order .share-items .share {
    margin-top: 20px;
  }
}


